/* Top Menu Bar Styles */
.navbar {
  padding: 0.25rem 1rem;
}

.navbar-nav {
  flex-direction: row;
}

.nav-item {
  margin-right: 1rem;
}

.dropdown-menu {
  min-width: 200px;
}

.dropdown-item {
  padding: 0.5rem 1rem;
}

.dropdown-item i {
  margin-right: 0.5rem;
  width: 16px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media (max-width: 991.98px) {
  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin-right: 0;
  }

  .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  .dropdown-item {
    padding-left: 2rem;
  }
}